# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr

# Local env files
*.local
.env

# Playwright
tests/.auth/
test-results/
playwright-report/
playwright/.cache/

# Playwright
/test-results/
/blob-report/
/playwright-report/
/tests/screenshots/
/tests/videos/
*.trace

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sw?

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
